#root {
  color: blue;
  display: flex;
  justify-content: center;
  
}

#display {
  color: rgb(7, 209, 7);
  font-size: large;
  display: block;
  clear: both;
  white-space: pre;
}

button {
  display: block;

}